nav {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
/* Stil for skjemaet */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* For å inkludere padding i bredden */
}

button[type="submit"] {
    background-color: #4CAF50; /* Grønn farge */
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049; /* Mørkere grønn farge når hovered */
}


/* Generell stil for tabellen */
table {
    width: 50%;
    margin: auto;
    border-collapse: collapse; /* Slå sammen celleborder */
}

/* Stil for overskriftene */
th {
    border: 1px solid black; /* 1 piksel grå solid ramme */
    padding: 8px; /* Padding rundt innholdet */
    text-align: left; /* Venstrejustert tekst */
}

/* Stil for celler */
td {
    border: 1px solid black; /* 1 piksel grå solid ramme */
    padding: 8px; /* Padding rundt innholdet */
    text-align: left; /* Venstrejustert tekst */
}
